<div class="mx-auto max-w-prose text-lg pb-10">
  <h2>
    <span
      class="block text-center text-3xl font-bold font-serif leading-8 tracking-tight text-neutral-800 sm:text-4xl"
      ><slot />
    </span>
  </h2>
</div>
