<div class="mx-auto max-w-prose text-lg">
    <h2>
      <span
        class="block text-center text-2xl font-bold font-serif leading-8 tracking-tight text-neutral-800"
        ><slot />
      </span>
    </h2>
  </div>
  