---
import Content from "../components/Content/Content.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Aesthetic Allure.">
  <Content modifiers="pb-16">
    <h2>Terms and Conditions - Aesthetic Allure
    </h2>
    <p>
        Please find below the terms that Aesthetic Allure has set for providing services to its clients. We kindly ask that you read and fully understand these terms before booking any treatment or consultation.

    </p>

    
    <h2>1. Appointments and Cancellation Policy

    </h2>
    
    <ul>
      <li>If you need to reschedule or cancel your appointment, please inform Aesthetic Allure with a notice of 48 hours prior to your appointment. Failure to provide the required notice will result in the loss of your appointment from your prepaid course of treatment and a £50 cancellation fee. Aesthetic Allure also sends out appointment reminders via SMS and email at least 24 hours prior to your appointment. However, please note that this reminder is not to be confused as a reminder of your 24-hour notice of cancellation.
    </li>
      <li>All the technicians at Aesthetic Allure are trained and certified in accordance with the company's treatment protocol. Therefore, we cannot guarantee continued treatment with a specifically named technician.
    </li>
      <li>To ensure that the necessary paperwork can be completed, we kindly ask that you arrive at least 10 minutes prior to your appointment at Aesthetic Allure. Please note that late arrival may result in reduced treatment time or forfeiture of the appointment.
    </li>
      <li>At Aesthetic Allure, we strive to keep your appointment running according to the arranged time wherever possible. However, if we need to cancel your appointment at short notice, we will make every effort to contact you in advance.
    </li>
      <li>Prior to your appointment, we will inform you of any preparation required such as shaving, makeup removal, avoidance of sun exposure etc.
      </li>
      <li>
        At Aesthetic Allure, please note that if you arrive at your appointment and our technicians deem it unsafe to continue with your treatment due to tanning or sun exposure, we may need to postpone your appointment to a later time.
      </li>
      <li>
        Please be advised that makeup, deodorant, perfume, and oil-based products must be removed before treatment. Although our practitioners will cleanse the area, we cannot be held responsible for any of the above products that may remain in the skin pores and cause an adverse reaction.
      </li>
      <li>To start any treatment at Aesthetic Allure, all clients must be 18 years of age or older.</li>

    </ul>

    <h2>
      2. Lateness Policy
    </h2>
    <p>
      If your arrival at Aesthetic Allure is delayed, it may not always be possible for us to accommodate your full appointment, which may result in the appointment time being shortened or cancelled. We will do our best to accommodate last-minute changes if the appointment is available for a later time. Please note that for certain skin treatments, we may require you to arrive 30 minutes prior to your appointment for the application of numbing cream. Please be advised that any lateness may result in the cancellation of the treatment if our staff members do not feel they can perform the treatment without the numbing cream having been applied.
    </p>

    <h2>
      3. Refund Policy
    </h2>
    <ul>
      <li>All treatments must be paid for in advance of the first booking in full.
      </li>
      <li>Discounted & Offer packages are only refundable for medical reasons.
      </li>
      <li>Aesthetic Allure provides a full or partial refund for any unused laser treatments if the request is made within the cooling-off period of 14 days. If this period has passed, refunds are only offered based on medical reasons.
      </li>
      <li>If any of the sessions from a package at Aesthetic Allure have been used, the refund amount will be based on the deduction of the individual list price, rather than the discounted package price.
      </li>
      <li>If you would like to request a refund, please contact our Customer Support team at info@allurespa.co.uk. We will do our best to assist and support you.
      </li>
    </ul>
    <h2>4. Liability Policy</h2>
    <ul>
      <li>Aesthetic Allure will not be liable in contract, tort, or otherwise for any economic loss (including, without limitation, loss of profit) or for any other special, indirect, or consequential loss or damage arising out of, or in connection with, its provision of any goods and/or services to the client.
      </li>
      <li>It is the client's responsibility to ensure that they provide Aesthetic Allure with all relevant medical details prior to each treatment. Aesthetic Allure will not be liable for any damage that occurs as a result of the client's failure to disclose such details.
      </li>
      <li>The client agrees to comply with all instructions and/or recommendations given to them by, or on behalf of, Aesthetic Allure technicians regarding the care of a treated area.
      </li>
    </ul>
    <h2>5. Complaint Policy</h2>
    <ul>
      <li>We always strive to provide the best service possible, but there may be times when you feel that this has not happened. You are entitled to submit a complaint, either verbally, by telephone, or in writing to our complaints department at info@allurespa.co.uk.
      </li>
      <li>The staff member who initially receives the complaint will convey the details to the complaints department and you will receive an acknowledgement within two working days of lodging the complaint that an investigation into the matter is underway.
      </li>
      <li>As part of the complaint investigation process, we may need to gather additional information from you through email or phone communication. In certain cases, we may request that you attend an additional consultation meeting with the practitioner involved in your treatment. If you are dissatisfied with this initial attempt at resolution, or have any objections to seeing the same practitioner, you can contact the complaints department for further review of your case.
      </li>
      <li>This is a summary of the complaints procedure. A full version is available upon request.
      </li>
    </ul>
    <h2>6. Payment Policy</h2>
    <ul>
      <li>Correct payment must be received before treatments can be scheduled and commenced. Payment is usually required in full. Offers cannot be combined with any other sale, promotion, discount, code, coupon, or offer, unless otherwise specified. If you refuse to pay in advance, we have the right to refuse your treatment. 
      </li>
      <li>Our PrePayment Guarantee ensures that there is no expiration date on any purchase you make online, in-clinic or by phone. This means that any existing or new client who has purchased Aesthetic Allure treatment(s) is guaranteed to have their treatment package honoured.
      </li>
    </ul>
    <h2>7. Child Care Policy
</h2>
<p>
  Children are welcome into Aesthetic Allure; however, our staff are regrettably not able to supervise children during treatments for health and safety and insurance purposes. We politely ask that you do not bring your children along with you unless they are supervised by another adult.
</p>
<h2>8. Drunk or under the influence of drug substances</h2>
<p>
  The staff at Aesthetic Allure will refuse treatment to any clients who are disruptive and obviously under the influence of alcohol or drugs. ( This does not include clients who are receiving prescribed medication).
</p>
  </Content>
</Layout>
