---
import Facebook from "../../icons/Facebook.astro";
import Instagram from "../../icons/Instagram.astro";
import Twitter from "../../icons/Twitter.astro";
---

<footer class="bg-neutral-800">
 <div class="py-20">
    <p class="mt-8 text-center text-base text-gray-400">
      &copy; {new Date(Date.now()).getFullYear()} Aesthetic Allure. All rights reserved.
    </p>
  </div>
      <p class="mt-8 text-center text-base text-gray-400">
      Powered by <a
        href="/marketing"
      >
        Digital Miracle
      </a>
    </p>
</footer>
