---
import { Image } from 'astro:assets'
import model from "../../assets/images/model-stare.jpeg";
---

<div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div
    class="relative overflow-hidden rounded-xl bg-rose-500 py-24 px-8 shadow-2xl lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-16"
  >
    <div
      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter"
    >
      <Image
        src={model}
        alt="Testimonial face"
        aspectRatio="1/1"
        format="webp"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="relative lg:col-span-1">
      <blockquote class="mt-6 text-white">
        <p class="text-xl font-thin">
          From the moment I walked into the clinic, I felt comfortable and
          confident in the care I would receive. The staff were friendly and
          knowledgeable, and they took the time to listen to my concerns and
          tailor the treatment to my specific needs.
        </p>
        <footer class="mt-6">
          <p class="flex flex-col font-medium font-serif text-xl">
            <span>Marie Chilvers</span>
            <span>Skin Care Treatment</span>
          </p>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
